dj-database-url
dj-static
Django
django-filter
django-picklefield
django-toolbelt
djangorestframework
gunicorn
Markdown
matplotlib
nose
numpy
pandas
psycopg2
setuptools
pyparsing
pystache
python-dateutil
pytz
scikit-learn
scipy
six
static
static3
wheel
