dj-database-url
dj-static
Django
django-filter
django-picklefield
django-toolbelt
djangorestframework
gunicorn
Markdown
matplotlib
nose
numpy=1.8.1
pandas
psycopg2
pyparsing
pystache
python-dateutil
pytz
scikit-learn
scipy=0.14.0
six
static
static3
wheel
